.idea/*
2018/Qualification/SavingTheUniverseAgain/.idea/
2018/Qualification/SavingTheUniverseAgain/out/
*.iml
2018/Qualification/TroubleSort/.idea/
2019/Cryptopangrams/.idea/
2019/DatBae/.idea/
2019/YouCanGoYourOwnWay/out/
2019/YouCanGoYourOwnWay/.idea/
2019/ForegoneSolution/out/
2019/ForegoneSolution/.idea/
2019/DatBae/out/
2019/Cryptopangrams/out/
2018/Qualification/TroubleSort/out/
2019/ Pylons/.idea/
2019/ Pylons/out/
2019/AlienRythm/.idea/
2019/AlienRythm/out/
2019/GolfGophers/.idea/
2019/GolfGophers/out/
